#call{
    background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../images/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
}
#call h3 {
    color: white;
    font-size: 28px;
    font-weight: 700;
}
#call p {
    color: white;
}
#call .call-btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
}
#call .call-btn:hover {
    background: #18d26e;
    border: 2px solid #18d26e;
}