
#contact {
    padding: 60px 0;
    background-color: #F7F7F7;
}
#contact .info {
    margin-bottom: 20px;
    text-align: center;
}
#contact .info span {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #18d26e;
}
#contact .info .address, #contact .info p {
    margin-bottom: 0;
    color: black;
}
#contact .info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
}

#contact .address, #contact .phone, #contact .email {
    margin-bottom: 20px;
}
#contact .php-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: white;
}

#contact .php-form .form-group {
    margin-bottom: 20px;
}
#contact .php-form input, #contact .php-form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    resize: none;
}
#contact .php-form button[type=submit] {
    background: #18d26e;
    border: 0;
    padding: 10px 30px;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
#contact .php-form button[type=submit]:hover {
    background: #0c8442;
}
@media (min-width: 768px) {
    #contact .address, #contact .phone, #contact .email {
        padding: 20px 0;
    }
}
@media (min-width: 768px) {
    #contact .phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}