/* Testimonials Section
--------------------------------*/
#testimonials {
    padding: 60px 0;
    background-color: #F7F7F7;
}
#testimonials .top-title {
    margin-bottom: 40px;
}

#testimonials .carousel-item {
    text-align: center;
}
#testimonials .carousel-inner .carousel-item .pic {

    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}
#testimonials .carousel-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}
#testimonials .carousel-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
}
#testimonials .carousel-item p .sign-left {
    margin-top: -15px;
    padding-right: 10px;
    display: inline-block;
    width: 37px;
}
#testimonials .carousel-item .sign-right {
    margin-bottom: -15px;
    padding-left: 10px;
    display: inline-block;
    max-width: 100%;
    width: 37px;
}
#testimonials .carousel-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
}
@media (min-width: 992px) {
    #testimonials .carousel-item p {
        width: 80%;
    }
}








